
button {
    border: none;
    background-image: var(--grad-color);
    color: #fff;
    border-radius: 4px;
    width: 100%;
    padding-block: 1rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

li.cart-active button {
    background-image: none;
    background-color: #fff;
    color:  hsl(237, 63%, 64%);
}

button:hover {
    background-image: none;
    background-color: transparent;
    color: hsl(237, 63%, 64%);
    outline: 1px solid hsl(237, 63%, 64%);
}

li.cart-active button:hover {
    background-image: none;
    background-color: transparent;
    color: #fff;
    outline: 1px solid #fff;
}