
body {
    background-color: #f7f7ff;
    width: 100vw;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

#root {
    display: flex;
    justify-content: center;
}

ul, li {
    list-style: none;
    padding: 0;
}

/* SETTING BACKGROUND IMAGES */
.bg-img {
    z-index: -1;
    position: absolute;
    object-fit: cover;
}

.bg-img-1 {
    left: 0;
    bottom: 0;
}

.bg-img-2 {
    right: 0;
    top: 0;
}


/*? RESPONSIVE */

@media screen and (max-width: 72em) {
    ul.main-ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }
}